In [1]:
import pandas as pd

# '../' ka matlab hai ki 'notebook' folder se bahar niklo, 
# phir 'static' folder mein jao aur file uthao.
data = pd.read_csv('../static/Heart_Disease.csv')

# Check karein
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Check missing values
data.isnull().sum()

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [3]:
# 'target' ko hata kar baaki saare inputs 'X' mein daal dein
X = data.drop(columns='target', axis=1)

# Sirf 'target' column ko 'y' mein rakhein
y = data['target']

print("Inputs (X) shape:", X.shape)
print("Output (y) shape:", y.shape)

Inputs (X) shape: (303, 13)
Output (y) shape: (303,)

In [4]:
from sklearn.model_selection import train_test_split

# 80% data training ke liye aur 20% testing ke liye
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training data points:", len(X_train))

Training data points: 242

In [5]:
from sklearn.svm import SVC

# Model object banayein
model = SVC(kernel='linear')

# Model ko train karein (fit)
model.fit(X_train, y_train)

print("Model Training Complete!")

Model Training Complete!

In [6]:
from sklearn.metrics import accuracy_score

# Test data par prediction karein
y_pred = model.predict(X_test)

# Accuracy nikaalein
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

Model Accuracy: 86.89%

In [7]:
import joblib

# Is file ka naam wahi rakhein jo aap app.py mein use karengi
joblib.dump(model, '../best_svm_model.pkl')

print("Model file (best_svm_model.pkl) successfully created outside the notebook folder!")

Model file (best_svm_model.pkl) successfully created outside the notebook folder!